@using task_one_v2.App_Core.ConstString
@using System.Globalization
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer
@{
    List<Recipe> allRecipe = ViewBag.AllRecipe;
    Layout = ConstantApp.adminLayout;
}
<link href="https://cdn.datatables.net/1.11.1/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/buttons/2.0.0/css/buttons.dataTables.min.css" rel="stylesheet" />
<div class="grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <div class="d-flex justify-content-between align-items-center mb-3">
                <h4 class="card-title">@localizer["All Recipe"]</h4>
                <li class="nav-item nav-settings d-none d-lg-flex">
                    <a class="nav-link" href="#">
                        <i class="icon-ellipsis"></i>
                    </a>
                </li>
            </div>     
            <div class="table-responsive">
                <table class="table" id="recipe">
                    <thead>
                        <tr>
                            <th>
                                @localizer["Title"]
                            </th>
                             <th>
                                @localizer["Chef Name"]
                            </th>
                            <th>
                                @localizer["Category"]
                            </th>
                            <th>
                                @localizer["Recipe Image"]
                            </th>
                            <th>
                                @localizer["Price"]
                            </th>
                            <th>
                                @localizer["Status"]
                            </th>
                            <th>
                                @localizer["CreationDate"]
                            </th>
                            <th>
                                @localizer["Info"]
                            </th>                         
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in allRecipe)
                        {
                            <tr>
                                <td>
                                    @{
                                        if (item.Recipename.Length > 15)
                                        {
                                            @item.Recipename.Substring(0, 15)
                                        }
                                        else
                                        {
                                            @item.Recipename
                                        }
                                    }
                                </td>
                                <td>
                                    @item?.Chef?.FirstName  @item.Chef.LastName
                                </td>
                                <td>
                                    @item.Category.CategoryName
                                </td>
                                <td style="max-width: 50px;">
                                    <a href="@Url.Content(ConstantApp.wwwImgPath + item.ImageRecipe)" target="_blank">
                                        <img src="@Url.Content(ConstantApp.wwwImgPath + item.ImageRecipe)" alt="User Image" width="100%" height="200">
                                    </a>
                                </td>
                                <td>
                                    @item.Price
                                </td>
                                <td>
                                    <label class="badge
                                       @{
                                       if(item?.ApprovalStatus?.ApprovalStatusId == ConstantApp.approvedRecipe)
                                       {
                                              <text>badge-success</text>
                                       }
                                       else if(item?.ApprovalStatus?.ApprovalStatusId == ConstantApp.pendingRecipe)
                                       {
                                             <text>badge-warning</text>
                                       }
                                        else
                                       {
                                             <text>badge-danger</text>
                                       }
                                      }">
                                        @item?.ApprovalStatus?.StatusName.ToLower()</label>
                                </td>
                                <td>
                                    @item?.CreationDate.ToString("dd/MM/yyyy")
                                </td>
                                <td>
                                    <a asp-controller="Admin" asp-action="RecipeDetails" asp-route-id="@item.RecipeId"> @localizer["Deatils"]</a>
                                </td>

                         </tr>
                        }
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>

































































<div id="right-sidebar" class="settings-panel">
    <i class="settings-close ti-close"></i>
    <ul class="nav nav-tabs border-top" id="setting-panel" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="todo-tab" data-toggle="tab" href="#todo-section" role="tab"
               aria-controls="todo-section" aria-expanded="true">@localizer["Filter"]</a>
        </li>
    </ul>
    <div class="tab-content" id="setting-content" style="display: flex; flex-direction: column;">
        <a asp-action="AllRecipe" asp-route-status="@ConstantApp.pendingChef" class="btn btn-primary mb-2">@localizer["Pending"]</a>
        <a asp-action="AllRecipe" asp-route-status="@ConstantApp.approvedChef" class="btn btn-primary mb-2">@localizer["approved"]</a>
        <a asp-action="AllRecipe" asp-route-status="@ConstantApp.rejectedChef" class="btn btn-primary mb-2">@localizer["rejected"]</a>
        <a asp-action="AllRecipe" asp-route-status="AllRecipe" class="btn btn-primary mb-2">@localizer["All"]</a>
    </div>
    <hr />
    <form asp-action="AllRecipe" method="post" class="p-2">
        <div class="form-group">
            <label class="p-2" for="startDate">@localizer["Start Date"]</label>
            <input type="date" id="startDate" name="startDate" class="form-control" />
        </div>
        <div class="form-group">
            <label class ="p-2" for="endDate">@localizer["End Date"]</label>
            <input type="date" id="endDate" name="endDate" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary">Filter by Date</button>
    </form>


</div>


<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.11.1/js/jquery.dataTables.min.js" defer></script>

<script src="https://cdn.datatables.net/buttons/2.0.0/js/dataTables.buttons.min.js" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/2.0.0/js/buttons.html5.min.js" defer></script>

<script>
    $(document).ready(function () {
        $('#recipe').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'copyHtml5',
                'excelHtml5',
                'csvHtml5',
                'pdfHtml5'
            ]
        });
    });
</script>

